/*========================================================
    @author : Andrew Dichabeng
    @file   : style.css
    description :   An external stylesheet for the site.
=========================================================*/

/*========================================================
    General
=========================================================*/
body {
    background: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
    background-size: cover;
}

#spacer {
    height: 300px;
}

/*========================================================
    Bootstrap override
=========================================================*/


/*========================================================
    End
=========================================================*/