/*========================================================
    @author : Andrew Dichabeng
    @file   : style.css
    description :   An external stylesheet for the site.
=========================================================*/

/*========================================================
    General
=========================================================*/
body {
    background: url("../img/coding-bg.jpeg");
    background-size: cover;
}

#spacer {
    height: 300px;
}

/*========================================================
    Bootstrap override
=========================================================*/


/*========================================================
    End
=========================================================*/